
@{
    ViewData["Title"] = "Index";
}
<link href="~/css/Dates.css" rel="stylesheet" />
<div class="container">
    <div class="contenedor">
        <form action="" class="form">
            <div class="form-header">
                <h1 class="form-tittle">Solicitar una Cita</h1>

                <input type="hidden" class="rem" id="idPatient" value="" />

                <label for="dni" class="form-label">Dni<span style="color:red">*</span>:</label>
                <input type="text" id="dni" class="form-input required" placeholder="Escriba su Dni">

                <label for="nombre" class="form-label">Nombres<span style="color:red">*</span>:</label>
                <input type="text" id="nombre" class="form-input rem required" placeholder="Escriba su Nombre">

                <label for="apellido" class="form-label">Apellidos<span style="color:red">*</span>:</label>
                <input type="text" id="apellido" class="form-input rem required" placeholder="Escriba su Apellido">

                <label for="servicios" class="form-label">Servicios<span style="color:red">*</span>:</label>
                <select id="servicios" class="form-input required rem2">
                    <option value="">--Seleccione un servicio--</option>
                </select>

                <label for="fechaCita" class="form-label">Fecha Cita <span style="color:red">*</span>:</label>
                <input type="datetime-local" id="fechaCita" class="form-input rem2">

                <label for="descripcion" class="form-label">Descripcion:</label>
                <input type="text" id="descripcion" class="form-input rem2" placeholder="Escriba su descripcion">

                <input type="button" id="agendar" class="btn-submit" name="name" value="Agendar" />
                
                <div class="card-footer">
                    <p class="alert-warning text-hide" id="mensaje">creada</p>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/js/Dates.js"></script>

