
@{
    ViewData["Title"] = "Index";
}
    <link href="~/css/Dates.css" rel="stylesheet" />
    <div class="container">
        <div class="contenedor">
            <form action="" class="form">
                <div class="form-header">
                    <h1 class="form-tittle">Solicitar una Cita</h1>
                    <label for="dni" class="form-label">Dni:</label>
                    <input type="text" id="dni" class="form-input" placeholder="Escriba su nombre">

                    <label for="nombre" class="form-label">Nombres:</label>
                    <input type="text" id="nombre" class="form-input" placeholder="Escriba su nombre">

                    <label for="apellido" class="form-label">Apellidos:</label>
                    <input type="text" id="apellido" class="form-input" placeholder="Escriba su nombre">

                    <label for="servicios" class="form-label">Servicios:</label>
                    <input type="text" id="servicios" class="form-input" placeholder="Escriba su nombre">

                    <label for="fechaCita" class="form-label">FechaCita:</label>
                    <input type="text" id="fechaCita" class="form-input" placeholder="Escriba su nombre">

                    <input type="button" class="btn-submit" name="name" value="" />
                </div>
            </form>
        </div>
    </div>
<script src="~/js/Dates.js"></script>